<!-- END CONTEINER -->


</div>
<div id="push"></div>
</div> <!-- /container -->


<div id="footer">
	<div class="container">
		<p class="muted credit">Code by <a href="mailto:lenfer.spb@gmail.com">Dergaev Andrey aka Lenfer</a>. @2013 
			| Git repository: <a href="<%=env.git%>"><%=env.git%></a>
		</p>
	</div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<% include header %>
</body>
</html>
